@model IEnumerable<WebApplication28.Models.joins>

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var countOFEmployees= ViewBag.countOFEmployees ;

    var countOFUsers = ViewBag.countOFUsers; 
       string[] TableHeaders = new string[]{"UserImage","FirstName","LastName","UserServiceId" ,"ServiceId"," UserId"
          ,"date"," Status","ReviewRange","ReviewText"
     };

}

  <form asp-action="MonthelyUserReview">
        <label>startdate</label> <input type="month" name="startDate" />
            <label>startdate</label> <input type="month" name="endDate" />

        <input type="submit" value="Submit" />
       
        
    </form>

<div class="table">
    <table class="table table-bordered table-hover" id="dataTable">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>

            @{
                
                 @if (Model != null)
            {
                foreach (var data in Model)
             
                {

                    <tr>
                        <td>@data.users.UserImage </td>
                        <td>@data.users.FirstName </td>
                        <td>@data.users.LastName</td>
                         <td>@data.userService.UserServiceId </td>
                        <td>@data.userService.ServiceId </td>
                          <td>@data.userService.ServiceId </td>
                        <td>@data.userService.UserId </td>
                         <td>@data.userService.Date </td>
                        <td>@data.userService.Status </td>
                           <td>@data.review.ReviewRange </td>
                         <td>@data.review.ReviewText </td>
                        
                    </tr>


                }
            }
            }
        </tbody>
    </table>
   
</div>